*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: fantasy;
}

html{
    font-family: fantasy;
    font-size: 15px;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: white;
}

html::-webkit-scrollbar-thumb{
    background-color: gold;
}

li, button{
    font-family: fantasy;
    font-weight: 500;
    font-size: 17px;
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 20%;
    height: 20%;
    float: left;
}

.logo{
    cursor: pointer;
}

.navigation-bar{
    list-style: none;
}

.navigation-bar li{
    display: inline-block;
    padding: 0px 20px;
    margin: 0px 30px;
}

.navigation-bar li a{
    transition: all 0.3s ease 0s;
}

.navigation-bar li a:hover{
    color: gold;
}

button{
    padding: 9px;
    background-color: gold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

button:hover{
    background-color: rgb(247, 222, 79);
}

.contact-container{
    width: 80%;
    margin: 50px auto;
}

.contact-box{
    background-color: rgb(241, 241, 211);
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background-color: rgb(243, 243, 179);
}

.contact-container h1{
    margin-bottom: 10px;
}

.contact-container p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(205, 193, 193);
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: black;
}

.contact-left h3{
    color: black;
    font-weight: 600;   
    margin-bottom: 30px;
}

.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}


